<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--
    <add key ="table1" value= "Suppliers"></add>
    <add key ="table2" value= "Medications"></add>
    <add key ="fk" value="sid"/>
    -->

    <add key ="ParentTable" value= "Train"></add>
    <add key ="ChildTable" value= "Traveler"></add>
    <add key ="fk" value="did"/>
    <add key="server" value="DESKTOP-886Q33V\\SQLEXPRESS"/>
    <add key="database" value="Railroads"/>
  </appSettings>
</configuration>

