<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    
    <add key ="parentTable" value= "Customers"></add>
    <add key ="childTable" value= "Orders"></add>
    <add key ="fk" value="CustomerID"/>
    <add key="server" value="DESKTOP-886Q33V\SQLEXPRESS"/>
    <add key="database" value="Northwind"/>

    <!--<add key ="parentTable" value= "Train"></add>
    <add key ="childTable" value= "Traveler"></add>
    <add key ="fk" value="trainId"/>
    <add key="server" value="DESKTOP-886Q33V\SQLEXPRESS"/>
    <add key="database" value="Railroads"/>-->
    
  </appSettings>
</configuration>